fastapi==0.116.1
uvicorn==0.35.0

pandas==2.3.1
numpy==2.2.6
scipy==1.15.3
scikit-learn==1.6.1
joblib==1.5.1

tensorflow==2.20.0
xgboost==3.0.4

pymongo==4.14.1
python-dotenv==1.1.1

pydantic==2.11.7
python-multipart==0.0.20

requests==2.32.4

prophet==1.1.7